html {
	background-color: #AAA;
	font-family: Times, serif;
	font-size: 1.2em;
}

p#heading {
	text-align: left;
	font-size: 1em;
	line-height: 2em;
}

div.img {
	text-align: center;
	margin: 1em auto 15em auto;
	max-width: 60em;
	background-color: #ccc;
	padding: 1.5em;
}

img {
	margin: 0em 0em 0em 0em;
	width: 30em;
}

p.caption {
	border-color: #444;
	max-width: 50em;
	text-align: center;
	margin: 0em auto 1em auto;
}

h1#title {
	text-align: center;
	color: #003;
	font-family: sans-serif;
	font-weight: 100;
}

h2#thesis {
	text-align: center;
	color: #004;
	font-family: sans-serif;
	font-weight: 100;
}