html {
	background-color: #AAA;
	font-family: Times, serif;
	font-size: 1.2em;
}

h2.heading {
	text-align: center;
	color: #004;
	font-family: sans-serif;
	font-weight: 100;
}

p.nav {
	padding: 1.2em;
}

a.nav {
	color: #333;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	margin-right: 3em;
	border-radius: 8px;
	border: 2px solid;
}