html {
	background-color: #AAA;
	font-family: Times, serif;
	font-size: 1.2em;
}

div.img {
	text-align: center;
	margin: 1em auto 15em auto;
	max-width: 5/0em;
	background-color: #ccc;
	padding: 1.5em;
}

img {
	margin: 0em 0em 0em 0em;
	width: 30em;
}

p.caption {
	max-width: 50em;
	text-align: center;
	margin: 0em auto 1em auto;
}

p.caption1 {
	max-width: 50em;
	text-align: center;
	margin: 0em auto 1em auto;
	font-size: 1.2em;
}

h1#title {
	text-align: center;
	color: #003;
	font-family: sans-serif;
	font-weight: 100;
}

h2#thesis {
	text-align: center;
	color: #004;
	font-family: sans-serif;
	font-weight: 100;
}

p.nav {
	padding: 1.2em;
}

a.nav {
	color: #333;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	margin-right: 3em;
	border-radius: 8px;
	border: 2px solid;
}